* {
  box-sizing: border-box;
}

html {
  font: 16px serif;
}

body {
  width: 88%;
  max-width: 40em;
  padding-bottom: 20px;
  margin: 0 auto;
}

textarea {
  width: 100%;
  min-height: 18em;
  padding: 20px;
  border: 1px solid #999;
}