* {
  box-sizing: border-box;
}

body {
  width: 88%;
  max-width: 30em;
  margin: 1em auto;
  background-color: #f4f7f8;
  font: 1em/1.5 sans-serif;
}

label {
  display: block;
  padding-bottom: 1em;
}

textarea {
  width: 100%;
  min-height: 7em;
  padding: .5em;
  border: 1px solid #becbcf;
  border-radius: .25em;
  background-color: #fff;
  font: inherit;
}