* {
  box-sizing: border-box;
}

body {
  width: 88%;
  max-width: 30rem;
  margin: 1rem auto;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-color: #fdfdfd;
}

label, textarea {
  display: block;
}

label {
  margin-bottom: .25rem;
}

textarea {
  width: 100%;
  min-height: 8.75rem;
  padding: .5rem;
  border: .125rem solid #999;
  border-radius: .25rem;
  font: inherit;
  background-color: #fff;
}